.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    .modalHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        .closeBtn {
            cursor: pointer;
            border: none;
            background: none;
            color: #ccc;
            &:hover {
                color: #000;
            }
        }
    }
    .modalContent {
        padding: 15px;
        overflow-y: auto;
    }
    .modalActions {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-top: 1px solid #ccc;
        padding: 15px;
    }
}
.modalSmall {
    max-width: 400px;
    max-height: 300px;
}
.modalSmall .modalContent {
    max-height: 200px;
    overflow-y: auto;
}
.modalMedium {
    max-width: 600px;
    max-height: 500px;
}
.modalMedium .modalContent {
    max-height: 300px;
    overflow-y: auto;
}
.modalLarge {
    max-width: 800px;
    max-height: 800px;
}
.modalLarge .modalContent {
    max-height: 400px;
    overflow-y: auto;
}
.modaFullScreen {
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    top: unset;
    left: unset;
    transform: unset;
}