.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: fit-content;
    max-height: fit-content;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.modalHeader {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.modalContent {
    padding: 15px;
}
.modalActions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
}