.button {
    display: inline-block;
    padding: 8px 16px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.primary {
    @extend .button;
    border: 1px solid #6c5ce7;
    background: #6c5ce7;
    color: #fff;
}
.withIcon {
    @extend .button;
    background: none;
    padding: 0;
    border: none;
    color: #333;
}