.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    .closeBtn {
        cursor: pointer;
        border: none;
        background: none;
        color: #ccc;
        &:hover {
            color: #000;
        }
    }
}